@model IEnumerable<GATGEjercicioKriosoft.Models.FrontGrupoAsignado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAlumnos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAlumnos)
        </td>
    </tr>
}

</table>
